<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Nuovo utente</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right:10px">Sono un/una:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender">Maschio
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender">Femmina
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" 
        [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" 
        [label]="'Nome'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" 
        [label]="'Data di nascita'" [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" 
        [label]="'Città'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" 
        [label]="'Nazione'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" 
        [label]="'Password'" [type]="'password'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" 
        [label]="'Conferma Password'" [type]="'password'">
    </app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>



    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Registrati</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Annulla</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json }}</p>
<p>Form status: {{registerForm.status | json}}</p>